# Data Science Tools and EcoSystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**
1. python
2. scala
3. r-programming
4. java
5. SQL
6. julia

**Some of the commonly used libraries used by Data Scientists include:**
1. Numpy
2. Matplotlib
3. pandas
4. scikit-learn
5. pytorch

|Datascience tools|
|-----------------|
|hadoop|
|Apache spark|
|rdbms|
|nosql|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
x=200
a=x/60
print(a,"hours")

3.3333333333333335 hours

**Objectives:**
* arithmetic operations
* use of markdown ad code cell
* what's jupyterbook
* Uses of jupyterbook

## Author
Manovarma krishnasamy Thalaivar